.container {
    display: flex;  
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
    heigth: 150px;
    width: 350px;
    margin: 20px;
    box-shadow: 1px 1px 1px white;
}

.userImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}